body{
    text-align: center;
}

.container{
    margin: 50px;
    padding: 25px;
    border: 1px solid black;
}

.display{
    border: 1px solid violet;
}

span{
    color: limegreen;
    border: 1px solid limegreen
}

#display-none{
    display: none;
}

#display-inline{
    display: inline;
}

#display-block{
    display: block;
}

#display-inline-block{
    display: inline-block;
}